###################################################################### macOS ##
.DS_Store* # folder metadata
Icon # custom finder icon (see: https://stackoverflow.com/a/21111738/579167)
thumbs.db # thumbnail preview cache
._* # thumbnails

##################################################################### common ##
tmp
logs
*.log
pids
*.pid
*.pid.lock
*.seed
*.csv
*.dat
*.out
*.env # dotenv / autoenv config
*.gz # gzip file

######################################################################## vim ##
Session.vim # session file

####################################################################### node ##
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm # npm cache directory
.eslintcache # esling cache directory
.yarn-integrity # yarn integrity check cache
.esm-cache # @std/esm module cache

######################################################################### js ##
*.js.map

####################################################################### sass ##
.sass-cache/

######################################################################## css ##
*.css.map # source maps
