.login, .xmastree {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .login > main, .xmastree > main {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
  .layout--centered.login > main, .layout--centered.xmastree > main {
    justify-content: center; }

.login-nav, .xmastree-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent; }

.login-nav-logout, .xmastree-nav-logout {
  height: 2.25em;
  width: 2.25em;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 5em;
  width: 5em;
  margin: 1em;
  padding: 1em; }
  .login-nav-logout > svg, .xmastree-nav-logout > svg {
    width: 100%; }
  .login-nav-logout:active, .xmastree-nav-logout:active {
    transform: scale(0.9); }

.login-content, .xmastree-content {
  width: 100%;
  max-width: 108em;
  margin: 0 auto;
  padding: 3em;
  text-align: center; }

.login-status, .xmastree-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  text-align: center; }
  .login-status > p, .xmastree-status > p {
    margin: 0; }
    .login-status > p > a, .xmastree-status > p > a {
      color: #fff; }
  .is-init.login-status > p:after, .is-init.xmastree-status > p:after {
    content: "\2026"; }
  .is-ok.login-status, .is-ok.xmastree-status {
    display: none; }
  .is-fail.login-status, .is-fail.xmastree-status {
    background: #EF0035;
    color: #fff; }

.login-footer, .xmastree-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em; }
  .login-footer > p, .xmastree-footer > p {
    margin: 0.3em 0;
    font-size: 0.8em;
    letter-spacing: 0.1em; }

.login-footer-logo, .xmastree-footer-logo {
  display: block;
  width: 61px; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 10px;
  font-family: sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  background-color: #fff;
  overflow-y: scroll; }

.login-logo {
  display: block;
  max-width: 22em;
  margin: 0 auto;
  margin-bottom: 6em; }

.login-btn {
  width: 100%;
  max-width: 25em;
  margin: 0;
  padding: 1.25em;
  line-height: 1;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #00adef;
  color: white;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: background .2s linear, color .2s linear;
  display: block;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto; }
  .login-btn:hover {
    background-color: #0093d4; }

.login-docs-cta {
  font-size: 1.25em; }
  .login-docs-cta a {
    color: #0093d4;
    text-decoration: none;
    cursor: pointer; }
    .login-docs-cta a:hover {
      text-decoration: underline; }

@keyframes xmastree-led-blink {
  50% {
    opacity: 0; } }

@keyframes xmastree-led-colors {
  0% {
    fill: #f00; }
  25% {
    fill: #009a00; }
  50% {
    fill: #0065cd; }
  75% {
    fill: #ffce00; } }

.xmastree-status {
  left: 0;
  top: 0;
  width: auto;
  bottom: auto;
  font-size: 0.9em;
  background-color: #ccc;
  border-radius: 0 0 0.5em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .xmastree-status {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      border-radius: 0.5em 0 0 0; } }

.xmastree-device-list {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  display: inline-block;
  width: 10em;
  font-size: 1em; }
  .xmastree-device-list:after {
    position: absolute;
    display: none;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    margin-top: -0.3em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid #000;
    content: " ";
    pointer-events: none; }
  .xmastree-device-list select {
    width: 100%;
    margin: 0;
    padding: 0.6em 0.8em 0.5em 0.8em;
    outline: none;
    cursor: pointer; }
  @supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
    .xmastree-device-list:after {
      display: block; }
    .xmastree-device-list select {
      padding-right: 2em;
      background: none;
      border: 1px solid transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .xmastree-device-list select:focus {
        border-color: #aaa; } }

.xmastree-device {
  position: fixed;
  left: 50%;
  bottom: 0;
  max-width: 17em;
  padding: 0.75em 3em 0.75em 1em;
  background-color: #000;
  border-radius: 0.5em 0.5em 0 0;
  transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 99; }
  .xmastree-device > h3 {
    display: inline-block;
    width: 100%;
    margin: 0 0.75em 0 0;
    color: #fff;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle; }
  .xmastree-device > button {
    height: 2.25em;
    width: 2.25em;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle; }
    .xmastree-device > button > svg {
      width: 100%; }
    .xmastree-device > button:active {
      transform: scale(0.9); }
    .xmastree-device > button path {
      fill: #fff; }

.xmastree-ctrls {
  max-width: 255px;
  margin: 0 auto; }
  .xmastree-ctrls {
    font-size: 10px; }
    @media screen and (min-width: 320px) {
      .xmastree-ctrls {
        font-size: calc(10px + 6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .xmastree-ctrls {
        font-size: 16px; } }

.xmastree-song-picker,
.xmastree-animation-picker {
  padding: 1em; }
  .xmastree-song-picker > label,
  .xmastree-animation-picker > label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.25em; }
  .xmastree-song-picker > button,
  .xmastree-animation-picker > button {
    height: 2.25em;
    width: 2.25em;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    padding: 0.25em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    background-color: #fff;
    vertical-align: middle; }
    .xmastree-song-picker > button > svg,
    .xmastree-animation-picker > button > svg {
      width: 100%; }
    .xmastree-song-picker > button:active,
    .xmastree-animation-picker > button:active {
      transform: scale(0.9); }
    .xmastree-song-picker > button:active,
    .xmastree-animation-picker > button:active {
      transform: none; }

.xmastree-song-list,
.xmastree-animation-list {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  display: inline-block;
  width: 4em;
  margin-left: 0.5em;
  font-size: 1em;
  vertical-align: middle; }
  .xmastree-song-list:after,
  .xmastree-animation-list:after {
    position: absolute;
    display: none;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    margin-top: -0.3em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.7em solid #000;
    content: " ";
    pointer-events: none; }
  .xmastree-song-list select,
  .xmastree-animation-list select {
    width: 100%;
    margin: 0;
    padding: 0.6em 0.8em 0.5em 0.8em;
    outline: none;
    cursor: pointer; }
  @supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
    .xmastree-song-list:after,
    .xmastree-animation-list:after {
      display: block; }
    .xmastree-song-list select,
    .xmastree-animation-list select {
      padding-right: 2em;
      background: none;
      border: 1px solid transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .xmastree-song-list select:focus,
      .xmastree-animation-list select:focus {
        border-color: #aaa; } }

.xmastree-tree {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  width: calc(100vmin * (1.13/1));
  margin: 0;
  transform: translate(-50%, 0);
  pointer-events: none;
  z-index: -1; }
  .xmastree-tree > svg {
    height: 100%;
    width: 100%; }
  .xmastree-tree circle {
    fill: #000; }
  .xmastree-tree.is-disconnected circle {
    fill: #ccc; }
  .xmastree-tree.is-busy circle {
    animation: xmastree-led-blink 0.75s step-start 0s infinite; }
  .xmastree-tree.is-busy circle:nth-child(1) {
    animation-delay: -0.03s; }
  .xmastree-tree.is-busy circle:nth-child(2) {
    animation-delay: -0.06s; }
  .xmastree-tree.is-busy circle:nth-child(3) {
    animation-delay: -0.09s; }
  .xmastree-tree.is-busy circle:nth-child(4) {
    animation-delay: -0.12s; }
  .xmastree-tree.is-busy circle:nth-child(5) {
    animation-delay: -0.15s; }
  .xmastree-tree.is-busy circle:nth-child(6) {
    animation-delay: -0.18s; }
  .xmastree-tree.is-busy circle:nth-child(7) {
    animation-delay: -0.21s; }
  .xmastree-tree.is-busy circle:nth-child(8) {
    animation-delay: -0.24s; }
  .xmastree-tree.is-busy circle:nth-child(9) {
    animation-delay: -0.27s; }
  .xmastree-tree.is-busy circle:nth-child(10) {
    animation-delay: -0.3s; }
  .xmastree-tree.is-busy circle:nth-child(11) {
    animation-delay: -0.33s; }
  .xmastree-tree.is-busy circle:nth-child(12) {
    animation-delay: -0.36s; }
  .xmastree-tree.is-busy circle:nth-child(13) {
    animation-delay: -0.39s; }
  .xmastree-tree.is-busy circle:nth-child(14) {
    animation-delay: -0.42s; }
  .xmastree-tree.is-busy circle:nth-child(15) {
    animation-delay: -0.45s; }
  .xmastree-tree.is-busy circle:nth-child(16) {
    animation-delay: -0.48s; }
  .xmastree-tree.is-busy circle:nth-child(17) {
    animation-delay: -0.51s; }
  .xmastree-tree.is-busy circle:nth-child(18) {
    animation-delay: -0.54s; }
  .xmastree-tree.is-busy circle:nth-child(19) {
    animation-delay: -0.57s; }
  .xmastree-tree.is-busy circle:nth-child(20) {
    animation-delay: -0.6s; }
  .xmastree-tree.is-busy circle:nth-child(21) {
    animation-delay: -0.63s; }
  .xmastree-tree.is-busy circle:nth-child(22) {
    animation-delay: -0.66s; }
  .xmastree-tree.is-busy circle:nth-child(23) {
    animation-delay: -0.69s; }
  .xmastree-tree.is-busy circle:nth-child(24) {
    animation-delay: -0.72s; }
  .xmastree-tree.is-busy circle:nth-child(25) {
    animation-delay: -0.75s; }
  .xmastree-tree.is-animating circle {
    animation: xmastree-led-colors 0.625s steps(1, end) 0s infinite; }
  .xmastree-tree.is-animating circle:nth-child(even) {
    animation-delay: 0s; }
  .xmastree-tree.is-animating circle:nth-child(odd) {
    animation-delay: 0.3125s; }
